    /* Hiding the checkbox, but allowing it to be focused */
    .select2-container--default .select2-selection--single {
        height: 30px;
    }

    .badgebox {
        opacity: 0;
    }

    img{
        padding: 1%;
        width: auto;
        height: 90%;
    }

    .form_error {
        color: red;
        margin-left: 2%;
        font-size: 1.5em;
    }

    .badgebox+.badge {
        /* Move the check mark away when unchecked */
        text-indent: -999999px;
        /* Makes the badge's width stay the same checked and unchecked */
        width: 27px;
    }

    .badgebox:focus+.badge {
        /* Set something to make the badge looks focused */
        /* This really depends on the application, in my case it was: */

        /* Adding a light border */
        box-shadow: inset 0px 0px 5px;
        /* Taking the difference out of the padding */
    }

    .badgebox:checked+.badge {
        /* Move the check mark back when checked */
        text-indent: 0;
    }

    .input-numberProduto{
        width: 4.3em;
    }

    input#precoVenda {
        width: 6em;
    }

    .btn-calcular {
        width: 6em;
    }

    label.form-check-label {
        display: inline-block;
    }

    img#imgLogo {
        /* margin-bottom: 1%; */
        margin-left: 15%;
        width: 111px;
        border-radius: 8px;
    }

    .wh30 {
        width: 30%;
    }


    /* Drag And Drop CSS */
    .drop-zone {
        width: auto; 
        height: 200px; 
        margin: 10px 29px;
        padding: 25px;
        display: flex; 
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        color: #cccccc;
        border: 4px dashed #009578;
        border-radius: 10px;
    }

    .drop-zone--over {
        border-style: solid;
    }

    input.drop-zone__input {
        display: none;
    }

    .drop-zone__thumb {
        background-position: center;
        background-repeat: no-repeat;
        width: auto;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        /* background-color: #f4f4f4; */
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .drop-zone__thumb::after {
        content: attr(data-label);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 14px;
        text-align: center;
    }

    @media screen and (min-width: 748px) {
        .drop-zone__thumb {
            width: auto;
            height: 100%;
        }
      }
    @media screen and (min-width: 1250px) {
        .drop-zone__thumb {
            width: auto;
            height: 110%;
        }
        .drop-zone {
            width: 90%;
            height: 250px;
        }
      }
    /* Drag And Drop CSS */