

.img-responsive {
    max-width: 230px;

}

img{
    padding: 1%;
}

#imageLogo {
    justify-content: center;
    display: block;
    margin-left: 23%;
}
@media (min-width: 769px) and (max-width: 1023px){
    #imageLogo {
        justify-content: center;
        display: initial;
        margin-left: 130px;
    } 
}
@media (min-width: 481px) and (max-width: 769px) {
    #imageLogo {
        justify-content: center;
        display: initial;
        margin-left: 130px;
    }
}
@media  (max-width: 480px) {
    #imageLogo {
        justify-content: center;
        display: initial;
        margin-left: 70px;
    }
}

    /* Drag And Drop CSS */
    .drop-zone {
        width: auto; 
        height: 200px; 
        margin: 10px 29px;
        padding: 25px;
        display: flex; 
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        color: #cccccc;
        border: 4px dashed #009578;
        border-radius: 10px;
    }

    .drop-zone--over {
        border-style: solid;
    }

    input.drop-zone__input {
        display: none;
    }

    .drop-zone__thumb {
        background-position: center;
        background-repeat: no-repeat;
        width: auto;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        /* background-color: #f4f4f4; */
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .drop-zone__thumb::after {
        content: attr(data-label);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 14px;
        text-align: center;
    }

    @media screen and (min-width: 748px) {
        .drop-zone__thumb {
            width: auto;
            height: 100%;
        }
      }
    @media screen and (min-width: 1250px) {
        .drop-zone__thumb {
            width: auto;
            height: 110%;
        }
        .drop-zone {
            width: 90%;
            height: 250px;
        }
      }
    /* Drag And Drop CSS */
